@import "tailwindcss";

:root {
  --background: #f9f9f9;
  --foreground: #1f1b1e;
  --bg:#1f1b1e;
  --primary:#f04d07;
  --accent:#989999;
  --text:#f9f9f9;
  --br:#bcd5ff21;
    --deg: #1212125d;
  

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-text: var(--text);
  --color-bg:var(--bg);
  --color-deg:var(--deg);
  --color-br: var(--br);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* Animations */
.fade-delay-1 {
  animation: fadeSlideIn 0.6s ease-in-out;
}

.fade-delay-2 {
  animation: fadeSlideIn 0.9s ease-in-out;
}




@keyframes fadeIn {
  0% {
    opacity: 0;
  
  }
  100% {
    opacity: 1;
  
  }
}

@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateY(-70px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

